@using CheapFlightsAppProject.Database
@using Microsoft.AspNetCore.Mvc.TagHelpers


@if (ViewBag.role=="0"){
    Layout = "_MainLayout";
}
else {
    Layout = "_AdminMainLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true"/>
    <link href="~/css/Flights.css" rel="stylesheet">

</head>
<body>
<header>
</header>
<h1>Hello @ViewBag.username!</h1>
<div>
    <h2> Your previous journeys 🏝️:</h2>
</div>
<div class="container">
    @foreach (Flight flight in ViewBag.flights) {
    <div class="flight-card">
        <div class="flight-content">
            <div>

                <div class="flight-description">@flight.Departure</div>
                <div class="flight-header">@flight.Destination</div>
                <div class="flight-detail">@flight.Date</div>
                <div class="flight-detail">Duration: @(Int32.Parse(flight.FlightDuration)/60)h @(Int32.Parse(flight.FlightDuration) - (Int32.Parse(flight.FlightDuration)/60)*60)min</div>
                <div class="flight-detail">@flight.FlightNumber</div>
                <div class="flight-detail">@flight.FlightOperator</div>
            </div>
            <div class="flight-price">zł @flight.Price</div>
        </div>
    </div>
    }
</div>

</body>
</html>